# This file determines how bodies will be generated at the beginning of the simulation.
# Each line is in the format <generation-type> <params...>
# See below for documentation on all generation types and their parameters. All parameters are floats (don't include
# the f suffix, though) unless stated otherwise.

####################
# Generation Types #
####################
# GALAXY
# A large central body surrounded by a ring of smaller bodies orbiting it.
#
# Parameters:
#     - position: Position of the center of the galaxy. Give this parameter as an x y pair.
#     - velocity: Initial velocity of entire galaxy system; the outer bodies will still orbit the central body as normal.
#                 Give this parameter as an x y pair.
#     - outerRadius: The ring of outer bodies is defined by an outer and inner radius, this is the outer radius.
#     - innerRadius: Inner radius.
#     - packDistance: The outer bodies are spawned in a hexagonal pack arrangement; this parameter determines the
#                     distance between each body in the pack.
#     - centerMass: Mass of the central body.
#     - centerDiameter: Diameter of the central body.
#     - outerMass: Mass of the outer bodies.
#     - outerDiameter: Diameter of the outer bodies.
#     - counterClockwise: Whether the galaxy should spin counterclockwise. 0 for false and 1 for true.
#
# SINGLE
# A single body.
#
# Parameters:
#     - position: The position of the body.
#     - velocity: The velocity of the body.
#     - mass: The mass of the body.
#     - diameter: The diameter of the body.

GALAXY -600 0 0 -70 500 200 8.4 1e7 20 20 2 1
GALAXY 600 0 0 70 500 200 8.4 1e7 20 20 2 1